:root {
    --primary-color: #2C2C2C;
    --light-color: #B6B6B6;
    --dark-color: #041723;
    --danger-color: #9B151E;
    --danger-light-color: #99565a;

    --text-dark-color: #646C74;
    --text-light-color: #B6B6B6;
    --text-link-color: #50AEC8;
    --text-danger-color: #770f16;

    --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}